body
{
	margin:0;
	padding:0;
	background: url(img/background.png) no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
}

.div_video	
{
	
	border-radius: 25px;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header {
    background-color: #e7b88b;
    color: #000000;
    padding: 1em;
    text-align: center;
}
